@media(max-width:1023px){
    .main .text-card h1{
        font-size: 3.5rem;
    }

    .main .text-card p{
        font-size: 1.8rem;
    }

}

@media(max-width:768px){
    .header img{
        max-width: 180px;
    }

    .main{
        grid-template-columns: 1fr;
        padding:1rem 3rem;
        grid-template-areas: 
        "illustration"
        "text-card";
    }

    .main .illustration img{
        max-width: 450px;
    }

    .main .text-card{
        align-items: center;
        text-align: center;
        padding:3% 5%;
    }

    .main .text-card a{
        font-size: 1.8rem;
    }

    .footer{
        justify-content: center;
        padding-bottom:5rem;
    }
}

@media(max-width:475px){
    .main{
        gap:1rem;
    }
    .main .text-card h1{
        font-size: 2.5rem;
    }

    .footer{
        padding-top:2rem;
    }
}