@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

html{
    font-size:62.5%;
    color: white;
}

body{
    background: url(../images/bg-desktop.svg) no-repeat var(--violet);
    background-size: contain;
    height: 100vh;
}

.header{
    padding: 3% 4%;
}

